.post {
  align-self: center;
  width: 80%;
  gap: 20px;
  background-color: #44689E;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px auto;
  box-shadow: 0px 3px 5px #000;
}

.post h5 {
  color: antiquewhite 0.6;
}

.post-title h1 {
  color: antiquewhite;
  text-shadow: 1px 1px #000;
}

.post a {
  text-decoration: none;
  color: antiquewhite;
}

.post-description {
  font-size: 1.2rem;
  padding: 20px;
  border-radius: 5px;
  background-color: #6CA5FA;
}

.img {
  width: 80%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: saddlebrown;
}

.post-img {
  width:100%;
  margin: 0 auto;
  display: block; 
  border: 2px solid brown;
  border-radius: 10px;
}

.new-post {
  width: 500px;
  line-height: 1.5;
  margin: 0 auto;
  padding: 40px 20px;
  border-radius: 5px;
  background-color: #6CA5FA;
  color: antiquewhite;
  box-shadow: 0px 3px 2px #000;;
}


.new-user {
  width: 400px;
  line-height: 1.5;
  margin: 0 auto;
  padding: 10px 0;
  gap: 5px;
}

